*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    flex-wrap:calc(1);
     
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
li a{
    text-decoration: none;
    color: black;
    font-family: inter;
    font-weight: 500;
    font-size: ;
}
section a{
    margin: 20px 0px;
}
h4{
    font-family: lobster;
    font-weight: 400;
}