*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
}